//_____HEADER_____//

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 4.12rem 1.62rem 0.75rem 1.62rem;
    position: fixed;
    top: 0;
    z-index: 10;
    &__logo {
       &__img {
        height: 2.5rem;
       }
        &:hover {
            scale: 1.2;
            transition: 0.5s;
        }
    }
}

//_____HEADER RESPONSIVE_____//

@media screen and (min-width: 996px) {
    .header {
        padding: 3rem 3.4rem 0rem 3.4rem;
        &__logo {
            height: 3.5rem;
        }
        .menu {
            height: 2rem;
        }
    }
}
