//_____HEADER_____//

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 4.12rem 1.62rem 0.75rem 1.62rem;
    &__logo{
        height: 2rem;
        &:hover{
            scale: 1.2;
            transition: 0.5s;
        }
    }
    &__burger{
        height: 1rem;
    }
}

//_____HEADER RESPONSIVE_____//

@media screen and (min-width: 996px) {
    .header {
        padding: 3rem 3.4rem 0rem 3.4rem;
        &__logo{
            height: 3.5rem;
        }
        &__burger{
            height: 2rem;
        }
    }
}