//_____HOMECATEGORY_____//

.homeCategory {
    position: relative;
    filter: grayscale(100%);
    img {
        width: 100%;
        height: 100%;
        scale: 1.03;
    }
    h2 {
        position: absolute;
        left: 2rem;
        bottom: 3rem;
    }
}

.homeCategory:hover {
    filter: grayscale(0);
    h2 {
        scale: 1.15;
        transition: 0.5s ease-in-out;
    }
    img {
        scale: 1.1;
        transition: 0.5s ease-in-out;
    }
}
