//_____MENU_____//

.menu__active {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0rem;
    background-color: #737373;
    z-index: 1;
    text-align: center;
    &__burger {
        position: absolute;
        top: 6rem;
        right: 1.5rem;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 50px;
    }
    a:hover {
        scale: 1.2;
    }
}

.bodyOverflow {
    overflow: hidden;
}
