//_____MENU_____//

.menu__active {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0rem;
    background-color: #737373;
    z-index: 1;
    &__nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 50px;
    }
}

.bodyOverflow {
    overflow: hidden;
}
