//_____FONTS_____//

//VARIABLES
:root {
    //home
    --home--h1: 1.875rem;
    --home--h1spacing: 0.1875rem;
    --home--02: 1.25rem;
    //category
    --category--01: 2.8rem;
    //project
    --project--title: 1.6rem;
    --project--p: 0.9rem;
    --project--roles-link: 0.75rem;
    //footer
    --footer: 1rem;
}

@font-face {
    font-family: "LemonMilkRegular";
    src: url(../fonts/lemonMilk/LEMONMILK-Regular.woff);
    src: url(./fonts/lemonMilk/LEMONMILK-Regular.woff2);
    font-display: swap;
}
@font-face {
    font-family: "LemonMilkLight";
    src: url(../fonts/lemonMilk/LEMONMILK-Light.woff);
    src: url(./fonts/lemonMilk/LEMONMILK-Light.woff2);
    font-display: swap;
}
@font-face {
    font-family: "HindMaduraiRegular";
    src: url(../fonts/hindMadurai/HindMadurai-Regular.woff);
    src: url(./fonts/hindMadurai/HindMadurai-Regular.woff2);
    font-display: swap;
}
@font-face {
    font-family: "HindMadurai";
    src: url(../fonts/hindMadurai/HindMadurai-Light.woff);
    src: url(../fonts/hindMadurai/HindMadurai-Light.woff2);
    font-display: swap;
}

//BODY
body {
    color: white;
}

//MENU
.menu__active {
    &__nav {
        &__part {
            font-family: "LemonMilkRegular", sans-serif;
            font-size: var(--home--h1);
        }
        &__subpart {
            font-family: "LemonMilkLight", sans-serif;
            font-size: var(--home--02);
        }
    }
}

//HOME
.home {
    &__top__name {
        h1 {
            font-family: "LemonMilkRegular", sans-serif;
            font-size: var(--home--h1);
            letter-spacing: 0.1875rem;
        }
        p {
            font-family: "LemonMilkLight", sans-serif;
            font-size: var(--home--02);
            font-weight: 300;
        }
        a {
            font-family: "LemonMilkLight", sans-serif;
            font-size: 1.5rem;
        }
    }
}

.homeCategory h2 {
    font-family: "LemonMilkRegular", sans-serif;
    font-size: var(--home--02);
}

//Category
.category__topPart__text {
    h1 {
        font-family: "LemonMilkRegular", sans-serif;
        font-size: var(--category--01);
    }
    p {
        font-family: "LemonMilkLight", sans-serif;
        font-size: var(--home--02);
        letter-spacing: 0.25rem;
    }
}

//Project 
.project{
    h2 {
        font-family: "HindMadurai", sans-serif;
        font-size: var(--project--title);

    }
    &__byDate__by, &__byDate__date {
        font-family: "HindMaduraiRegular", sans-serif;
        font-size: var(--project--p);
    }
    &__roles, &__link {
        font-family: "HindMaduraiRegular", sans-serif;
        font-size: var(--project--roles-link);

    }
}


//Footer
footer{
    font-family: "HindMaduraiRegular", sans-serif;
    font-size: var(--footer);
}